:root {
  --purple-light: #f3e8ff;
  --purple: #6a0dad;
  --grey: #777777;
  --text1: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: sans-serif;
  padding: 20px;
  gap: 12px;
}

.box {
  width: 368px;
  height: 350px;
  background-color: #fff;
  box-shadow: 8px 8px 20px 0 rgba(85, 85, 85, 0.08);
  padding: 16px;
  border-radius: 16px;
  text-align: left;
  margin-bottom: 20px;
  
}

.box .tag {
  font-size: 10px;
  background-color: var(--purple-light);
  color: var(--purple);
  font-weight: bold;
  width:min-content;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  display: inline-block;
  
}

.box .author {
  font-size: 12px;
  color: var(--grey);
  border-top: 1px solid var(--text1);
  padding-top: 0.5rem;
  display: block;
  margin-top: 12px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 6px;
}

.box p {
  max-width: 300px; 
  margin-left: 0;
  margin-right: auto; 
  font-size: 14px;
  color: var(--grey);
  line-height: 1.5;
  
}

hr {
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #ddd;
  margin: 12px 0;
}


footer {
  font-size: 14px;
  color: #555;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
}

